<html>
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <!-- <a href="/songs">Songs</a>
      <a href="/artists">Artists</a>
      <a href="/playlists">Playlists</a> -->
    </nav>
    <%= yield %>
    <div class="fave-box">
        <ul class="fave-list">
            
        </ul>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/movie_browser.js"></script>
  </body>
</html>
