<html>
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <form id="user">
        <input type="text" placeholder="Create a profile" id="userName">
        <input type="submit" id="makeUser" value="Make user">
      </form>
    <%= yield %>
    <div class="fave-box">
        <h2 class="faves-header">Your favorite movies</h2>
        <ul class="fave-list">
        </ul>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/movie_browser.js"></script>
  </body>
</html>
