p {
    width: 60%;
}
a {
    color: black;
}
a:visited {
    color: black;
}
.browse {
    width: 60%;
    margin: 0 auto;
}

#addFave {
    display: block;
    margin-top: 20px;
}
.fave-box {
    width: 33%;
    border: 1px solid black;
    /*float: right;*/
    position: absolute;
    top: 0;
    right: 0;
}

.faves-header {
    text-align: center;
}
